.app-container {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-primary, #333339);
}

.main-content {
  flex: 1;
  display: flex;
  margin-left: 80px; /* Mismo ancho que el sidebar */
  overflow: hidden;
  padding: 20px;
  color: var(--text-primary, #ffffff);
}